{% extends "main/layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<body>
    <div class="table-container" >
        <div style="text-align: left; margin-top: -600px;">
            <h5>
                <p>Для управления образовательным процессом  созданы  отделения:</p>
                <p>- фортепианное;<br />
                - народных  инструментов  (баян, аккордеон, балалайка, домра, гитара);<br />
                - струнно-смычковых  инструментов (скрипка, виолончель);<br />
                - духовых  инструментов(труба, саксофон, флейта, кларнет);<br />
                - ударных  инструментов;<br />
                - ударных  инструментов(ксилофон, барабаны);<br />
                - хорового пения;<br />
                - вокал.</p>
                <p>В школе занимается 780 человек. Обучение ведется на русском  языке.</p>
                <p>Уровень образования &ndash; дополнительное образование.</p>
                <p>Форма обучения &ndash; очная.</p>
                <p>Нормативные  сроки обучения: от 2-х лет до 9 лет.</p>
                <p>Школа предоставляет образовательные услуги  не только  детям,  но и взрослым,  на условиях  дополнительных  платных  услуг.</p>

                <p style="text-align: center;">
                    <span style="line-height: 15px;"  >
                        <b>
                         Информация по дополнительным общеразвивающим и предпрофессиональным программам обучения:
                        </b>
                    </span>
                </p>
                <p style="text-align: center;">
                    Обучение ведётся по новым образовательным программам (&laquo;Закон об образовании в РФ № 273 от 29.12.2012г.)
                </p>
            </h5>
        </div>
    </div>


    <div class="table-container">
        <div style="text-align: center;">
            <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; width: 100%;">
                <h3 style="font-size: 18px;"><u>Обучение по дополнительным общеразвивающим программам:</u></h3>
                <thead>
                    <tr>
                        <th style="border: 1px solid windowtext; padding: 5px; text-align: left;">Наименование программы</th>
                        <th style="border: 1px solid windowtext; padding: 5px; text-align: center;">Возраст поступающих</th>
                        <th style="border: 1px solid windowtext; padding: 5px; text-align: center;">Срок обучения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Подготовка детей к обучению в детской школе искусств</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">5,5-6 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">2 года</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Подготовка детей к обучению в детской школе искусств (с муз. инстр.)</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">6-6,5 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">1 год</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Блок-флейта</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">6-8 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">2 года</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Синтезатор</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">7-10 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">3(4) года</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 8px;">Хоровое пение</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">10-12 лет</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">3(4) года</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 8px;">Эстрадный вокал</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">8-15 лет</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">3(4) года</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 8px;">Гитара</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">12-15 лет</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">3 года</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 8px;">Электрогитара</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">12-15 лет</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">3 года</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 8px;">Креативные индустрии (фото-видео, совр.электронная музыка, звукорежиссура)</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">12-17 лет</td>
                        <td style="border: 1px solid windowtext; padding: 8px; text-align: center;">2 года</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="text-align: left;">&nbsp;
        <div class="table-container">
            <div style="text-align: left; margin-top: 400px;">
                <h5>
                    <p style="text-align: center;">
                        К заявлению необходимо приложить копию свидетельства о рождении ребёнка и справку от врача о состоянии здоровья ребёнка.<br>
                        Многодетным семьям необходимо предоставить справку о составе семьи.
                    </p>
                </h5>
            </div>
        </div>
    </div>

    <div class="table-container">
        <div style="text-align: center; margin-top: 500px;">
            <h3 style="font-size: 18px;"><u>Обучение по дополнительным предпрофессиональным программам:</u></h3>
            <br/>

            <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; width: 100%;">
                <thead>
                    <tr>
                        <th style="border: 1px solid windowtext; padding: 5px; text-align: left;">Наименование программы</th>
                        <th style="border: 1px solid windowtext; padding: 5px; text-align: center;">Возраст поступающих</th>
                        <th style="border: 1px solid windowtext; padding: 5px; text-align: center;">Срок обучения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Фортепиано</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">6,5-9 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">8 лет</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Хоровое пение</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">6,5-9 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">8 лет</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Струнные инструменты (скрипка, виолончель)</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">6,5-9 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">8 лет</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Духовые инструменты (флейта, кларнет, саксофон, труба)</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">6,5-9 лет, 10-12 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">8 лет<br />5 лет</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Народные инструменты (баян, аккордеон, домра, балалайка, гитара)</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">6,5-9 лет, 10-12 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">8 лет<br />5 лет</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid windowtext; padding: 5px;">Инструменты эстрадного оркестра</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">10-12 лет</td>
                        <td style="border: 1px solid windowtext; padding: 5px; text-align: center;">5 лет</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
