{% extends "main/layout.html" %}

{% block title %}о школе{% endblock %}

{% block content %}
<body>
    <div class="container3"> 
        
        <div class="scool">
            <h5>
                ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
            </h5>
        </div>

    </div>
</body>
    {% endblock %}
