{% extends "main/layout.html" %}

{% block title %}
{{ title }} 
{% endblock %}


{% block content %}
    <body>
        <div class="container4"> 
            <div><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A79205b83c7b433858debcc3d93503ce9bee80e386c1a28435c409cb7783f7162&amp;source=constructor" width="900" height="600" frameborder="0"></iframe></div>
            <div class = "adres">
                
                <h2>Часы работы:</h2>
                <div><span style="font-size: 23px;">♫ </span><span style="font-size: 30px;">пн. с 08:00 до 21:00</span></div>
                <div><span style="font-size: 23px;">♫ </span><span style="font-size: 30px;">вт.  с 08:00 до 21:00</span></div>
                <div><span style="font-size: 23px;">♫ </span><span style="font-size: 30px;">ср.  с 08:00 до 21:00</span></div>
                <div><span style="font-size: 23px;">♫ </span><span style="font-size: 30px;">чт. с 08:00 до 21:00</span></div>
                <div><span style="font-size: 23px;">♫ </span><span style="font-size: 30px;">пт. с 08:00 до 21:00</span></div>
                <div><span style="font-size: 23px;">♫ </span><span style="font-size: 30px;">сб. с 08:00 до 21:00</span></div>
                <div><span style="font-size: 23px;">♫ </span><span style="font-size: 30px;">вс. выходной</span></div>
                
            </div> 
            <div class = "adres2">
                <h2>Адрес школы: г. Саратов, ул. им. Т.Г. Шевченко, д. 26</h2>
                <h2>Телефон: 8 (845-2) 27-24-62</h2>
                <h2>Email: cdmshsar@yandex.ru</h2>
            </div>
            <div class = "adres3">
                <h2>Обратная связь:</h2>
            </div>

        </div>
    </body>

{% endblock %}
